/* 
.sliders {
  padding: 10px 60px;
}

a {
  border: none;
}

.carousel-inner {
  border-radius: 30px;

  height: 400px;
}

img {
  width: 100%;

  height: 400px;
  object-fit: fill;
}

a {
  border: 1px solid var(--primary-color);
  padding: 5px;
} */
